html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

a:focus {
  color: inherit;
}

/**
 * Technical test
 * 
 */
h2 {
  height: 48px;
  width: 303px;
  color: #003366;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  text-align: center;
}

p {
  color: #9b9b9b;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}
