/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem; /// Should I keep the fixed header???
  margin-bottom: 6rem;
  padding-left: calc(#{$grid-gutter} / 2);
  padding-right: calc(#{$grid-gutter} / 2);

  @include media-query($small) {
    width: 100%;
  }

  @include media-query($medium) {
    width: $grid-medium;
  }

  @include media-query($large) {
    width: $grid-large;
  }

  @include media-query($widescreen) {
    width: $grid-widescreen;
  }
}

.collection--carousel {
  padding-bottom: 3.4rem;
  margin-bottom: 4.7rem;
}

.collection--carouselCell {
  height: 551px;
  width: 306px;
  padding-right: 11px;
  padding-left: 11px;
}

.collection--title {
  text-align: center;
  margin-bottom: 1.9rem;
}

.collection--description {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.1rem;
  text-align: center;
}


.collection-linkButton{
  text-align: center;
  padding-top: 4.7rem;
}

.product--image {
  position: relative;
}

.product--addToCartButton {
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  width: calc(100% - #{$grid-gutter});
  height: 4.7rem;
  margin-left: auto;
  margin-right: auto;
}

.product--info {
  padding-top: 1.2rem;
}

.product--title {
  margin-bottom: 0.6rem;
}

.product--price {
  color: $secondary-color;
  font-size: 18px;
}

.primary-button {
  border: none;
  background-color: $primary-color;
  color: #FFFFFF;
  font-size: 18px;	
  font-weight: 700;	
  line-height: 23px;	
  text-align: center;
  height: 55px;
  width: 175px;
}

.secondary-button {
  border: none;
  color: $primary-color;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
}
