/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem; /// keep the fixed header
  margin-bottom: 6rem;

  padding-left: calc(#{$grid-gutter} / 2);
  padding-right: calc(#{$grid-gutter} / 2);

  @include media-query($small) {
    width: 100%;
  }

  @include media-query($medium) {
    width: $grid-medium;
  }

  @include media-query($large) {
    width: $grid-large;
  }

  @include media-query($widescreen) {
    width: $grid-widescreen;
  }
}



/// Collection Block
.collection--title {
  text-align: center;
  margin-bottom: 1.9rem;
}

.collection--description {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4.1rem;
  text-align: center;

  @include media-query($small) {
    width: 100%;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }

  @include media-query($medium) {
    width: 50%;
  }
}

.collection--carousel {
  padding-left: calc(#{$grid-gutter} / 2);
  padding-right: calc(#{$grid-gutter} / 2);
  padding-bottom: 3.4rem; // dot top distance
  margin-bottom: 4.7rem;
}

.collection--carouselCell {
  width: 33.33%; // large
  padding-right: calc(#{$grid-gutter} / 4);
  padding-left: calc(#{$grid-gutter} / 4);

  @include media-query($small) {
    width: 100%;
  }

  @include media-query($medium) {
    width: 50%;
  }

  @include media-query($widescreen) {
    width: 25%;
  }
}

.collection--linkButton {
  text-align: center;
  padding-top: 4.7rem;
}


/// Product Block
.product--container {
  position: relative;
}

.product--image {
  position: relative;

  &,
  img {
    width: 100%;
  }

  &:hover .product--addToCartButton {
    visibility: visible;
  }
}

.product--addToCartButton {
  visibility: hidden;
  position: absolute;
  bottom: 1.8rem;
  left: 0;
  right: 0;
  width: calc(100% - #{$grid-gutter});
  height: 4.7rem;
  margin-left: auto;
  margin-right: auto;
}

.product--info {
  display: block;
  padding-top: 1.2rem;
}

.product--title {
  margin-bottom: 0.6rem;
}

.product--price {
  color: $secondary-color;
  font-size: 18px;

  @include media-query($small) {
    font-size: 18px;
    line-height: 18px;
  }
}

.product--onSale {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 26px;
  width: 56px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  background-color: $primary-color;
  color: #ffffff;
}


/// Overwrite Fllickity
.flickity-button {
  background: none;
  top: 40%;

  &.previous {
    left: calc(-#{$grid-gutter});
  }

  &.next {
    right: calc(-#{$grid-gutter});
  }

  @include media-query($small) {
    display: none;
  }
}

.dot {
  height: 7px !important;
  width: 7px !important;
}
